.about {
  &__page {
    padding-top: rem(200);

    @include media(991) {
      padding-top: rem(100);
    }
  }

  &__block {
    position: relative;
    display: flex;
    justify-content: space-between;

    @include media(991) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__title {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: rem(270);
    z-index: 1;

    @include media(991) {
      position: relative;
      left: auto;
    }

    @include media(768) {
      transform: translateX(0);
      margin-right: auto;
    }
  }

  &__picture {
    max-width: rem(640);
    width: 100%;

    @include media(991) {
      max-width: 50%;
      position: absolute;
      z-index: -1;
      left: -20%;
    }
  }

  &__image {
    border-radius: 50%;
    overflow: hidden;
    position: relative;

  }

  &__item {
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 15.5s all;

    &:hover {
      transform: rotate(500deg);
      left: 10px;
      bottom: 15px;
    }

    @include media(991) {
      display: none;
    }
  }

  &__text {
    max-width: rem(600);
    width: 100%;

    @include media(991) {
      max-width: 80%;
    }

    @include media(768) {
      max-width: 100%;
    }

    p {
      font-weight: 400;
      font-size: rem(24);
      line-height: 92%;
      letter-spacing: 0.03em;
      color: #ECFFFA;
      margin-bottom: rem(20);
    }
  }

  &__arrow {
    display: flex;
    margin-top: rem(75);
    margin-left: auto;
    transition: all 0.5s;
    margin-bottom: rem(90);

    &:hover {
      transform: rotate(90deg);
      cursor: pointer;
    }

    @include media(991) {
      margin: 0;
      margin-left: auto;
      margin-top: rem(-50);
      margin-bottom: rem(30);
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: 2px solid #30F3C2;
    height: 54px;
    max-width: 243px;
    width: 100%;
    border-radius: 7px;
    margin-top: 40px;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 92%;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    transition: all 0.5s;

    &:hover {
      background: #30F3C2;
      color: #000000;
    }
  }
}