.banner {
  position: relative;
  padding-top: rem(20);
  min-height: 100vh;

  @include media(768) {}

  &__item {
    position: fixed;
    z-index: -1;

    &.item-1 {
      left: 6.41%;
      top: -10%;
      animation: item1 60s linear infinite;
    }

    &.item-2 {
      top: rem(50);
      left: 51.77%;
      animation: item2 70s linear infinite;

      @include media(768) {
        left: 20%;
        top: 30%;
      }

    }

    &.item-3 {
      right: 0;
      top: 0;
      transform: translate3d(35%, -35%, 0);
      animation: item3 75s linear infinite;

      @include media(600) {
        display: none;
      }
    }

    &.item-4 {
      left: rem(20);
      bottom: rem(20);
      animation: item4 94s linear infinite;

      @include media(768) {
        bottom: 20vh
      }

      @include media(600) {
        display: none;
      }
    }

    &.item-5 {
      bottom: rem(20);
      right: 15.36%;
      animation: item5 10s linear infinite;

      @include media(768) {
        bottom: 10vh;
        right: 10%;
      }

    }
  }

  &__contacts {
    display: flex;
    align-items: flex-end;
    gap: rem(30);
  }

  &__contacts-link {
    max-width: rem(50);

    &.upwork {
      transform: translateY(10px);
    }
  }

  &__contacts-img {}

  &__container {
    position: relative;
  }

  &__nav-list {
    position: absolute;
    right: 0;
    margin-top: rem(50);

    @include media(1280) {
      right: rem(20);
    }

    @include media(991) {
      margin-top: rem(0);
    }

    @include media(600) {
      margin-top: rem(30);
    }
  }

  &__nav-item {
    margin-bottom: rem(30);
  }

  &__nav-link {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: rem(30);
    line-height: rem(37);
    text-transform: uppercase;

    @include media(991) {
      font-size: rem(20);
      line-height: rem(24);
    }
  }

  &__title {
    margin-top: rem(200);
    font-weight: 800;
    font-size: rem(90);
    line-height: rem(108);
    display: flex;
    flex-direction: column;
    text-transform: uppercase;

    span {
      font-family: 'Exo 2', sans-serif;
    }

    @include media(1280) {
      font-size: rem(60);
      line-height: rem(80);
    }

    @include media(768) {
      font-size: rem(44);
      line-height: rem(56);
    }

    @include media(600) {
      font-size: rem(36);
      line-height: rem(60);
      margin-top: rem(300);
    }
  }

  &__status {
    margin-left: rem(80);
    animation: textStatus 0.5s linear;

    @include media(600) {
      margin-left: rem(40);
    }
  }

  &__position {
    animation: textPosition 1s linear;
    color: #000000;
    margin-left: rem(165);
    text-shadow:
      -0 -2px 0 #30F3C2,
      0 -2px 0 #30F3C2,
      -0 2px 0 #30F3C2,
      0 2px 0 #30F3C2,
      -2px -0 0 #30F3C2,
      2px -0 0 #30F3C2,
      -2px 0 0 #30F3C2,
      2px 0 0 #30F3C2,
      -1px -2px 0 #30F3C2,
      1px -2px 0 #30F3C2,
      -1px 2px 0 #30F3C2,
      1px 2px 0 #30F3C2,
      -2px -1px 0 #30F3C2,
      2px -1px 0 #30F3C2,
      -2px 1px 0 #30F3C2,
      2px 1px 0 #30F3C2,
      -2px -2px 0 #30F3C2,
      2px -2px 0 #30F3C2,
      -2px 2px 0 #30F3C2,
      2px 2px 0 #30F3C2,
      -2px -2px 0 #30F3C2,
      2px -2px 0 #30F3C2,
      -2px 2px 0 #30F3C2,
      2px 2px 0 #30F3C2;

    @include media(600) {
      margin-left: auto;
    }
  }

  &__name {
    animation: textName 2s linear;
  }
}