.form {
  &__page {
    padding-top: rem(130);
    padding-bottom: rem(150);

    @include media(991) {
      padding-top: rem(40);
    }
  }

  &__title {
    margin-bottom: rem(60);
    text-align: center;
  }

  &__block {
    margin: 0 auto;
    max-width: rem(860);

    form {
      display: flex;
      flex-direction: column;
      align-items: center;

      input,
      textarea {
        background: none;
        border: 2px solid #30F3C2;
        border-radius: rem(24);
        min-height: rem(70);
        padding-left: rem(20);
        font-weight: 400;
        font-size: rem(24);
        line-height: 92%;
        letter-spacing: 0.03em;
        color: #ABBCB8;

        @include media(991) {
          font-size: rem(18);
        }
      }

      input {
        display: flex;
        align-items: center;
      }

      textarea {
        padding-top: rem(30);
        min-height: rem(340);

        @include media(600) {
          min-height: rem(200);
        }
      }

      input::placeholder,
      textarea::placeholder {
        font-weight: 400;
        font-size: rem(24);
        line-height: 92%;
        letter-spacing: 0.03em;
        color: #ABBCB8;

        @include media(991) {
          font-size: rem(18);
        }
      }
    }
  }

  &__label {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: rem(30);

    .input__title {
      font-weight: 600;
      font-size: rem(30);
      line-height: 92%;
      letter-spacing: 0.03em;
      color: #FFFFFF;
      margin-bottom: rem(20);
      cursor: pointer;

      @include media(991) {
        font-size: rem(20);
      }
    }


  }

  .form__submit {
    width: 243px;
    min-height: 54px;
    height: 54px;
    display: flex;
    justify-content: center;
    padding: 0;
    background: #30F3C2;
    border: 2px solid #30F3C2;
    border-radius: 15px;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 92%;
    letter-spacing: 0.03em;
    color: #FFFFFF;

    @include media(600) {
      margin-left: auto;
      margin-right: rem(-40);
    }
  }
}