.skills {
  &__page {
    padding-top: rem(200);

    @include media(991) {
      padding-top: rem(100);
    }
  }

  &__title {
    margin-bottom: rem(60);

    @include media(1150) {
      text-align: center;
    }
  }

  &__block {
    display: flex;
    justify-content: space-between;
    max-width: rem(1200);

    @include media(1150) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__box {
    max-width: rem(544);
    width: 100%;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: rem(30);

    @include media(600) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__name {
    font-weight: 500;
    font-size: rem(30);
    line-height: 92%;
    letter-spacing: 0.03em;
    color: #ECFFFA;

    @include media(600) {
      margin-bottom: rem(20);
    }
  }

  &__circles {
    display: flex;
  }

  &__circle {
    border-radius: 50%;
    background: #145948;
    width: rem(18);
    height: rem(18);
    margin-right: rem(16);
    transition: all 0.5s;
    cursor: pointer;

    .active & {
      &.active {
        background: red;
        animation: skillsPulse 0.2s linear infinite;
      }
    }

    &.active {
      background: #30F3C2;
    }

    &.item {
      background: red;
    }

    &:active,
    &:hover {
      background: #ffffff;
    }
  }
}